# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/
.env

# VS Code settings
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pip environment
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/
helloworld_project/lib64/
helloworld_project/lib/
helloworld_project/include/
helloworld_project/bin/
*.sqlite3

# MacOS and Linux trash
.DS_Store
.Trashes
*.swp
*.swo
